---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

const identity = {
  firstName: "John",
  lastName: "Doe",
  country: "Doe",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const skillColor = "navy";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    My name is {identity.firstName} {identity.lastName}. I live in {identity.country} and I am a {identity.occupation}.
  </p>

  <p>My skills are:</p>

  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
